nav {
    background-color: #333;
    padding: 10px;
    width: 200px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    nav>ul li {
    width: 150px; 
    position: relative; 
    text-align: center;
    font-weight: bold;
    color: rgb(139, 0, 32);
    }
    nav ul li {
    margin-bottom: 2px;
    }
    nav a {
    text-decoration: none;
    display: block;
    border: 3px dotted magenta;
    padding: 15px 15px 15px 15px;
    }
nav a:link{
    background-color: white;
    }
    nav a:hover, nav a:focus {
    background-color: cornsilk;
    }
    nav a:active{
    background-color: aquamarine;
    }
/*position sub-menu or drop-down*/
nav ul>li ul {
    position: absolute;
    margin-top: 0;
    margin-left: 100%;
    display: none;
    }
    
    /*special hover to display the drop-down*/
    nav>ul>li:hover>ul{
    display: block;
    }



    /* Basic styles for the dropdown */
.dropdown {
    position: relative; 
    display: inline-block; 
}

.dropbtn {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    font-size: 16px; 
    border: none; 
    cursor: pointer; 
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none; 
    position: absolute;
    background-color: #f9f9f9; 
    min-width: 160px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 1;
}

/* Dropdown links */
.dropdown-content a {
    color: black; 
    padding: 12px 16px; 
    text-decoration: none; 
    display: block; 
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #1a0c0c;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
footer {
    background-color: #ce289c;
    color: #fff;
}